# ======================
# 공통 규칙
# ======================

# OS 관련 파일
.DS_Store
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/

# 로그 파일
*.log
/logs/
tmp/
temp/

# 환경 변수 파일
.env
*.env

# 기타 공통 파일
*.sw?
.#*
*~
*.sublime*
.history/
help.md
