# Maven 빌드 디렉토리
/target/

# Gradle 빌드 디렉토리
/build/
.gradle/

# IDE 관련 파일 - IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IDE 관련 파일 - Eclipse
.classpath
.project
.settings/

# IDE 관련 파일 - VS Code
.vscode/

# IDE 관련 파일 - Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# IDE 관련 파일 - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS 관련 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log
/logs/
tmp/
temp/

# 환경 변수 파일
# application-env.properties
.env
*.env

# 컴파일된 파일
*.class
*.jar
*.war
*.ear


# 기타
*.sw?
.#*
*~
